# Исключить файлы базы данных
*.db

# Исключить виртуальное окружение
.venv/

# Исключить скрытые системные файлы
.DS_Store

# Исключить файлы конфигурации
.env
!.env.example

# Исключить файлы отчетов покрытия тестов
.coverage

# Исключить кэш pytest
.pytest_cache/

# Исключить директории среды разработки
.idea/
__pycache__/
*.py[cod]

# Исключить файлы миграций Alembic, если они есть
alembic/versions/*

# Игнорируем файлы и настройки для Docker
.dockerignore


